@font-face {
    font-family: "Lato Medium";
    src: url(../fonts/Lato-Medium.ttf);
    // src:url('../fonts/HelveticaNeueLTStd-BdCn.svg#basic') format('svg'),
    //     url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
    //     //url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
    //     url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff')
    font-weight: normal;
    font-style: normal;
}
