@import "bourbon"
@import "mixins"
@import "fontfaces"
@import "icn"
@import "login"
@import "search"
@import "cover"

body
  margin: 0
  overflow: hidden
  font-family: "Lato"
  font-weight: 300
  +transition(color 500ms)
  color: #FFFFFF

a
  +transition(color 500ms)
  color: #F7E1CC
  text-decoration: none
  &:hover
    text-decoration: underline

#wrapper, canvas
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0

footer
  width: 100%
  height: 50px
  padding: 0 45px
  box-sizing: border-box
  position: absolute
  bottom: 0
  font-size: 12px
  z-index: 2

  .social
    height: 50px
    width: auto
    position: absolute
    right: 45px
    top: 0

    a
      display: inline-block
      padding: 0 5px

#stats
  z-index: 10

#loading
  +size(100%)
  position: absolute
  top: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.75)
  color: white
  z-index: 2
  cursor: pointer
  +transition(opacity 250ms ease-in 0ms, visibility 0ms ease-in 0ms)
  display: none

  &.hidden
    +transition(opacity 250ms ease-in 0ms, visibility 0ms ease-in 250ms)
    visibility: hidden
    opacity: 0

  &.ready i.icn
    opacity: 1

  i.icn
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    opacity: 0

    &.play
      left: 20px

  p
    width: 200px
    position: absolute
    bottom: 100px
    left: 0
    right: 0
    margin: auto
    text-align: center
    text-transform: uppercase
    font-size: 12px
    letter-spacing: 1px
